@import "tailwindcss";
:root {
  --background: #ffffff;
  --background-primary: #FF6314;
  --background-secondary: #0D0E13;
  --background-tertiary: #0D0E13;
  --background-grey: #56595A;
  --font-bricolage-grotesque: 'Bricolage Grotesque', serif;
}


body {
  background: var(--background);
  font-family: var(--font-bricolage-grotesque);
}
